.pagination {
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}
.centered_data {
    display: flex;
    justify-content: center;
}
.mright-40px {
    margin-right:40px;
}
.table {
    width:42%;
    margin: auto;
}
